/* 구글폰트 */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 피시모드 온 모바일모드 오프 */
.pc{display: block;}
.mo{display: none;}

@media screen and (max-width: 768px) {
    .mo{display: block;}
    .pc{display: block}
}

/*공통사항*/
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
html{scroll-behavior: smooth;}

/* PC Style  */
#container{position: relative; width: 100%;overflow: hidden;}
body{
    font-family: 'S-CoreDream-3Light';
}

/* 섹션별 백그라운드 */


#sec3{position: relative; width: 100%;}
#sec4{position: relative; width: 100%;}
#sec5{position: relative; width: 100%;}

#sec1{
    position: relative;
    height: 52vw;
    background: url(./img2/bg/B01.png)no-repeat center / 100% 100%;

}
#sec1 .sec1_1{
    top: 3vw;
    width: 34vw;
    
    position: absolute;
    left: 18.01%;
    
}
#sec1 .sec1_2{
    position: absolute;
    width: 10vw;
    
    left: 10%;
    top: 8vw;

}
#sec1 .sec1_3{
    position: absolute;
    width: 20vw;
    left: 55%;
    top: 29vw;
   
}
#sec1 .sec1_4{
    position: absolute;
    width: 31vw;
    
    left:18%;
    top: 35vw;
 
}
#sec2{
    position: relative;
    background: url(./img2/bg/B02.png)no-repeat center / 100% 100%;
    height: 30vw;
}
#sec2 .sec2_img1{
    position: absolute;
    width:80vw;
    height: 13vw;
    left:11%;
    top:1vw;
    z-index: 1;
}
#sec2 .sec2_img2{
    position: absolute;
    width:23vw;
    left:10%;
    top:12vw;
}
#sec2 .sec2_img3{
    position: absolute;
    width:23vw;
    left:35%;
    top:12vw;
}
#sec2 .sec2_img4{
    position: absolute;
    width:23vw;
    left:60%;
    top:12vw;
}
#sec3{
    position: relative;
    background: url(./img2/bg/B03.png)no-repeat center / 100% 100%;
    height: 50vw;
}
#sec3 .sec3_img1{
    position: absolute;
    width:30vw;
    left:48%;
    top:10%;
}
#sec3 .sec3_img2{
    position: absolute;
    width:27vw;
  
    left:48%;
    top:20%;
}
#sec3 .sec3_img3{
    position: absolute;
    width:25vw;
    
    left:15%;
    top:5vw;
}
#sec3 .sec3_img4{
    position: absolute;
    width:18vw;
    
    left:5%;
    top:10vw;
    z-index: 1;
}
#sec3 .sec3_img5{
    position: absolute;
    width:18vw;
 
    left:36%;
    top:36vw;
    z-index: 1;
}
#sec3 .sec3_img6{
    position: absolute;
    width:40vw;
    
    left:48%;
    top:25vw;
}
#sec4 .sec4_main1{
    position: relative;
    background: url(./img2/bg/B04.png)no-repeat center / 100% 100%;
    height: 35vw;
}
#sec4 .sec4_main1 .sec4_img1{
    position: absolute;
    width:38vw;
   
    left:22%;
    top:5vw;
}
#sec4 .sec4_main1 .sec4_img2{
    position: absolute;
    width:10vw;
    
    left:65%;
    top:6vw;
}
/* 3번 아놔 내눈 */
#sec4 .sec4_main1 .sec4_img3{ 
    position: absolute;
    width:10vw;
    left:58%;
    top:5vw;
}
#sec4 .sec4_main1 .sec4_img4{
    position: absolute;
    width:50vw;
    left:25%;
    top:25vw;
}
#sec4 .sec4_main1 .sec4_img5{
    position: absolute;
    width:6vw;
    left:68%;
    top:33vw;
}
#sec4 .sec4_main1 .sec4_img6{
    position: absolute;
    width:35vw;
  
    left:30%;
    top:42vw;
    z-index: 1;
}
#sec4 .sec4_main2{
    position: relative;
    background: url(./img2/04/007.png)no-repeat center / 70%100%;
    height: 50vw;
    left: 3%;

}
#sec4 .sec4_main2 p{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20vw;
    
    font-size: 1.3vw;
    font-weight:700;
    line-height: 3vw;
    font-family: 'S-CoreDream-3Light';
    
}



#sec5{
    background: url(./img2/bg/B05.png)no-repeat center / 100%100%;
    height: 100vw;

}
#sec5 .sec5_img1{
    position: absolute;
    width:40vw;
    left:45%;
    top:7vw;
    z-index: 1;
}
#sec5 .sec5_img2{
    position: absolute;
    width:10vw;
    left:46.5%;
    top:4vw;
    z-index: 1;
}
#sec5 .sec5_img3{
    position: absolute;
    width:80vw;
    height:30vw;
    left:10%;
    top:23vw;
}
#sec5 .sec5_img4{
    position: absolute;
    width:16vw;
    left:20%;
    top:28vw;
}
#sec5 .sec5_img5{
    position: absolute;
    width:23vw;
 
    left:57%;
    top:46vw;
}
#sec5 .sec5_img6{
    position: absolute;
    width:30vw;
    
    left:61%;
    top:21vw;
}
#sec5 .sec5_img7{
    position: absolute;
    width:50vw;
    height:25vw;
    left:10%;
    top:55vw;
}
#sec5 .sec5_img8{
    position: absolute;
    width:28vw;
  
    left:34%;
    top:58vw;
}
#sec5 .sec5_img9{
    position: absolute;
    width:25vw;
    
    left:63%;
    top:55vw;
}
#sec5 .sec5_img10{
    position: absolute;
    width:30vw;
 
    left:10%;
    top:81vw;
    z-index: 2;
}


#sec6{
    position: relative;
    background: url(./img2/bg/B06.png)no-repeat center / 100%100%;
    height: 70vw;
}
#sec6 .sec6_img1{
    position: absolute;
    width:4vw;
    left:73%;
    top:44vw;
}
#sec6 .sec6_img2{
    position: absolute;
    width:14vw;
    left:12%;
    top:4vw;
    z-index: 555;
}
#sec6 .sec6_img3{
    position: absolute;
    width:12vw;
    left:30%;
    top:44vw;
    z-index: 9;
}
#sec6 .sec6_img4{
    position: absolute;
    width:20vw;
 
    left:50%;
    top:44vw;
}
#sec6 .sec6_img5{
    position: absolute;
    width:20vw;
    left:50%;
    top:53vw;
}
#sec6 .sec6_img6{
    position: absolute;
    width:20vw;
    left:38%;
    top:63vw;
}

.swiper-container {
    width: 66vw;
    top: 2vw;
   
}

.swiper-slide {
    width:80vw;
    padding: 3vw;
    

   

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    
  }


#sec7{position: relative;
    background: url(./img2/bg/B07.png)no-repeat center / 100%100%;
    
}
#sec7 .sec7_title{
    position: relative;
    height: 50vw;

}
#sec7 .sec7_title .sec7_img02{
    position: absolute;
    width: 7vw;
    left: 22%;
    top: 40vw;
    
}
#sec7 .sec7_title .sec7_img01{
    position: absolute;
    width: 6vw;
    left:68%;
    top: 20vw;
    
}
#sec7 .sec7_title .sec7_img1{
    position: absolute;
    width: 28vw;
    left: 37%;
    top: 20vw;
    z-index: 1;

}
#sec7 .sec7_title .sec7_img2{
    position: absolute;
    width: 18vw;
    left: 44%;
    top: 4vw;

}
#sec7 .sec7_title .sec7_img3{
    position: absolute;
    width: 10vw;
    left: 35%;
    top: 5vw;

}
#sec7 .sec7_title .sec7_img4{
    position: absolute;
    width: 44vw;
    height: 5vw;
    left: 30%;
    top: 45vw;

}
#sec7 .sec7_title .sec7_img5{
    position: absolute;
    width: 44vw;
    height: 5vw;
    left: 30%;
    top: 42vw;

}
#sec7 .sec7_title .sec7_img6{
    position: absolute;
    width: 3vw;
    left: 72%;
    top: 44vw;

}
#sec7 .sec7_webtoon{
    position: relative;
    height: 80vw;
}
#sec7 .sec7_webtoon .sec7_img1{
    position: absolute;
    width: 30vw;
    left: 18%;
    top: 10vw;
    
}
#sec7 .sec7_webtoon .sec7_img1{
    position: absolute;
    width: 30vw;
    left: 18%;
    top: 10vw;
    
}
#sec7 .sec7_webtoon .sec7_img2{
    position: absolute;
    width: 15vw;
    left: 10%;
    top: 10vw;
    
}
#sec7 .sec7_webtoon .sec7_img3{
    position: absolute;
    width: 15vw;
    left: 35%;
    top: 30vw;
    
}
#sec7 .sec7_webtoon .sec7_img4{
    position: absolute;
    width: 15vw;
    left: 40%;
    top: 44vw;
    z-index: 1;
    
}
#sec7 .sec7_webtoon .sec7_img5{
    position: absolute;
    width: 30vw;
    left: 52%;
    top: 25vw;
    
}
#sec7 .sec7_webtoon .sec7_img6{
    position: absolute;
    width: 15vw;
    left: 47%;
    top: 60vw;
    
}
#sec7 .sec7_webtoon .sec7_img7{
    position: absolute;
    width: 25vw;
    left: 68%;
    top: 42vw;
    
}
#sec7 .sec7_webtoon .sec7_img8{
    position: absolute;
    width: 22vw;
    left: 60%;
    top: 75vw;
    
}


#sec8{
    position: relative;
    background: url(./img2/bg/B08.png)no-repeat center / 100%100%;
    height: 60vw;

}
#sec8 .sec8_img01{
    position: absolute;
    width: 8vw;
    left: 72%;
    top: 6vw;
    z-index: 1;
}
#sec8 .sec8_img02{
    position: absolute;
    width: 10vw;
    left: 90%;
    top: 42vw;
    z-index: 1;
}
#sec8 .sec8_img1{
    position: absolute;
    width: 18vw;
    left: 15%;
    top: 10vw;
}
#sec8 .sec8_img2{
    position: absolute;
    width: 35vw;
    height: 4.5vw;
    left: 40%;
    top: 5vw;
}
#sec8 .sec8_img3{
    position: absolute;
    width: 30vw;
    left: 43%;
    top: 10vw;
}
#sec8 .sec8_img4{
    position: absolute;
    width: 20vw;
    left: 28%;
    top: 28vw;
}
#sec8 .sec8_img5{
    position: absolute;
    width: 20vw;
    left: 50%;
    top: 28vw;
}
#sec8 .sec8_img6{
    position: absolute;
    width: 20vw;
    left: 73%;
    top: 28vw;
}

#sec9{
    position: relative;
    background: url(./img2/bg/B09.png)no-repeat center / 100%100%;
    height: 80vw;
    
}
#sec9 .sec9_img0{
    position: absolute;
    width: 2vw;
    left: 50%;
    top: 67vw;

}
#sec9 .sec9_img001{
    position: absolute;
    width: 20vw;
    left: 60%;
    top: 12vw;

}
#sec9 .sec9_img002{
    position: absolute;
    width: 30vw;
    left: 48%;
    top: 25vw;
    
}
#sec9 .sec9_img003{
    position: absolute;
    width: 50vw;
    left: 24%;
    top: 30vw;
    
}
#sec9 .sec9_img1{
    position: absolute;
    width: 16vw;
    left: 45%;
    top: 11vw;
    
}
#sec9 .sec9_img2{
    position: absolute;
    width: 25vw;
    left: 23%;
    top: 40vw;
    
}
#sec9 .sec9_img3{
    position: absolute;
    width: 25vw;
    left: 50%;
    top: 40vw;
}
#sec9 .sec9_img4{
    position: absolute;
    width: 20vw;
    left: 26%;
    top: 38vw;
    
}
/* 호버 효과 모음  */
#sec9 .sec9_img4:hover{
    transform: scale(1.2);
}
#sec9 .sec9_img5:hover{
    transform: scale(1.2);
}
#sec9 .sec9_img6_1:hover{
    transform: scale(1.2);
}

#sec9 .sec9_img6_2:hover{
    transform: scale(1.2);
    
}
#sec11 .sec11_img3:hover{
    transform: scale(1.2);
}
#sec6 .sec6_img6:hover{
    transform: scale(1.2);
}

#sec9 .sec9_img4_1{
    position: absolute;
    width: 10vw;
    left: 20%;
    top: 50vw;
    
    
}
#sec9 .sec9_img4_2{
    position: absolute;
    width: 25vw;
    height: 6vw;
    left: 23%;
    top: 58vw;
    
    
}
#sec9 .sec9_img5{
    position: absolute;
    width: 20vw;
    left: 53%;
    top: 38vw;
    
}
#sec9 .sec9_img5_1{
    position: absolute;
    width: 10vw;
    left: 69%;
    top: 40vw;
    
    
}
#sec9 .sec9_img5_2{
    position: absolute;
    width: 25vw;
    height: 6vw;
    left: 50%;
    top: 58vw;
    
    
}
#sec9 .sec9_img6_1{
    position: absolute;
    width: 15vw;
   
    left: 55%;
    top: 65vw;
    
    
}
#sec9 .sec9_img6_2{
    position: absolute;
    width: 15vw;
    
    left: 28%;
    top: 65vw;
    
    
}

#sec10{
    position: relative;
    background: url(./img2/bg/B10.png)no-repeat center / 100%100%;
    height: 60vw;
    
}
#sec10 .sec10_img1{
    position: absolute;
    width: 50vw;
    left: 26%;
    top: 2vw;
}
#sec10 .sec10_img2{
    position: absolute;
    width: 40vw;
    left: 30%;
    top: 49vw;
    z-index: 2;
  



}
#sec10 .sec10_img3{
    position: absolute;
    width: 1vw;
    
    left: 29%;
    top: 48.5vw;
    z-index: 1;
    background-color: yellow;
}



#sec11{
    position: relative;
    background: url(./img2/bg/B011.png) center / 100%100%;
    height: 25vw;
}
#sec11 .sec11_img1{
    position: absolute;
    width: 50vw;
    
    left: 25%;
    top: 6vw;
}
#sec11 .sec11_img2{
    position: absolute;
    width: 8vw;
    
    left: 60%;
    top: -2vw;
}
#sec11 .sec11_img3{
    position: absolute;
    width: 26vw;
    
    left: 35%;
    top: 15vw;
}
#sec12{
    position: relative;
    background: url(./img2/moom1/moomall.png) center / 100%100%;
    height: 80vw;
}
#sec12 #name{
    position: absolute;
    width: 16.9vw;
    height: 3.5vw;
    left: 21.6%;
    bottom: 53vw;
    font-size: 1vw;
    border: white;
    background-color: white;
    padding-left: 1vw;
    font-family: 'S-CoreDream-3Light';
    
    
}
#sec12 #num{
    position: absolute;
    width: 16.9vw;
    height: 3.5vw;
    left: 40.9%;
    bottom: 53vw;
    font-size: 1vw;
    border: white;
    background-color: white;
    padding-left: 1vw;
    font-family: 'S-CoreDream-3Light';
}
#sec12 #email{
    position: absolute;
    width: 16.9vw;
    height: 3.5vw;
    left: 60.4%;
    bottom: 53vw;
    font-size: 1vw;
    border: white;
    background-color: white;
    padding-left: 1vw;
    font-family: 'S-CoreDream-3Light';
}
#sec12 #main{
    position: absolute;
    width: 55.5vw;
    height: 19.1vw;
    left: 21.5%;
    bottom: 29vw;
    font-size: 1vw;
    padding: 1vw;
    font-family: 'S-CoreDream-3Light';
}
#sec12 #check{
    position: absolute;
    width: 1vw;
    height: 1vw;
    left: 21.6%;
    bottom: 13.9vw;
    font-size: 1.5vw;
    border: black;
}
#sec12 #checkmain{
    position: absolute;
    width: 55.5vw;
    height: 10.4vw;
    left: 21.5%;
    bottom: 16.6vw;
    font-size: 1vw;
    padding: 0.5vw;
    font-family: 'S-CoreDream-3Light';
}

#sec12 .gogo{
    position: absolute;
    width: 12.7vw;
    height: 3.4vw;
    left: 21%;
    bottom:9vw;
}

#sec13{
    position: relative;
    background-color: #1c1c1c;
    height: 15vw;
    font-family: 'S-CoreDream-3Light';
}
#sec13 img{
    position: absolute;
    text-align: center;
    width: 13vw;
    left: 43%;
    top: 1vw;


}

#sec13 footer{
    font-family: 'S-CoreDream-3Light';
  
    text-align: center;
    color: #fff;
    font-size: 1vw;
    padding: 7vw;
    
    
}
h2{
    font-size: 2vw;
    
    
}
#sec13 footer p{
   
    font-family: 'S-CoreDream-3Light';
    padding: 2vw;
    color:gray;
    font-size: 1vw;
    letter-spacing: 1px;


}
